.dock {
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(63, 60, 60, 0.381);
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
  border-radius: 0.55rem;
  backdrop-filter: blur(3px);
  // overflow: hidden;
  box-sizing: border-box;

  .icon {
    position: relative;
    padding: 0.65rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 3.65rem;
    transition:  transform 0.5s cubic-bezier(0.25, 1, 0.25, 1);
    transform-origin: center bottom;
    z-index: 1;
  }

  .github,
  .cli {
    background-color: black;
   
  }
  .note {
    background: linear-gradient(
      to bottom,
      rgb(229, 159, 74),
      rgb(255, 153, 28)
    );
    
  }
  .pdf {
    background: linear-gradient(
      to bottom,
      rgb(255, 65, 78),
      rgb(255, 25, 40),
      rgb(255, 25, 40)
    );
  }
  .calender,
  .mail {
    background: linear-gradient(
      to bottom,
      rgb(117, 108, 247),
      rgba(66, 52, 255)
    );
  }
  .spotify {
    background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
  }

  .link {
    background: linear-gradient(
      to bottom,
      rgb(163, 97, 170),
      rgb(142, 33, 170)
    );
  }
  .icon:hover {
    transform: scale(1.08) translateY(-20px);
    z-index: 2;
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.03) translateY(-10px);
  }
}
